# Editors & Environment
.vagrant/
.vscode/
.idea/
.env
tslint.json

# NodeJS & NPM
node_modules/
*.js

.travis.yml

.dockerignore
Dockerfile

*.log

# Git
.git/
.gitignore
.gitattributes

CHANGELOG.md
README.md
docs/
release/
